

.navbar{
    background-attachment: transparent;

    // background-image: radial-gradient(circle at 120.71% 50%, #FFF9A7 0, #FFFB97 6.25%, #FFFD87 12.5%, #FFFE78 18.75%, #FFFD69 25%, #FFFC5B 31.25%, #F9FA4E 37.5%, #D9F743 43.75%, #B5F23C 50%, #8CED3B 56.25%, #5AE841 62.5%, #00E34D 68.75%, #00DE5C 75%, #00DA6E 81.25%, #00D682 87.5%, #00D398 93.75%, #00D0AF 100%);

    // background-image: radial-gradient(circle at 120.71% 50%, #FFFD69 25%, #FFFC5B 31.25%, #F9FA4E 37.5%,);
}

.footer{
    background-image: radial-gradient(circle at 120.71% 50%, #FFF9A7 0, #FFFB97 6.25%, #FFFD87 12.5%, #FFFE78 18.75%, #FFFD69 25%, #FFFC5B 31.25%, #F9FA4E 37.5%, #D9F743 43.75%, #B5F23C 50%, #8CED3B 56.25%, #5AE841 62.5%, #00E34D 68.75%, #00DE5C 75%, #00DA6E 81.25%, #00D682 87.5%, #00D398 93.75%, #00D0AF 100%);
    flex-wrap: nowrap;
}