.jumbotron{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100 px;
}

.navbar{  
min-height: 110px;
font-weight: larger ;
   }

   .nav-tabs{
       font-weight: bold;
      font-size: 1.3rem;
   }   

.img-logo{
 
    height: 100px;
    width:400px;
    padding-top: 0%;
 
    font-weight: bolder;
}

.imgCyclists{
   margin-top: -8rem;
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: auto;
}

.home_body {
    // width:100%;
    background-repeat: repeat;
    background-size: cover;
   
}
.bienvenido-home{
    margin-left: 300px;
    margin-right:300px ;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Roboto,-apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
   color :#000000;
  

}

.login_body {
    background-image:url("https://cdn.pixabay.com/photo/2018/11/27/18/47/bike-3842079_1280.jpg");
    width:100%;
       margin-top: -7rem;

    height:750px;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile_body {
    background-image:url("https://cdn.pixabay.com/photo/2017/07/30/17/43/bicycle-2554980_1280.jpg");
    width:100%;
       margin-top: -7rem;

    height:750px;
    background-repeat: no-repeat;
    background-size: cover;
}
.forgot_body {
    background-image:url("https://cdn.pixabay.com/photo/2018/02/03/16/17/wheel-3127945_1280.jpg");
    width:100%;
       margin-top: -7rem;

    height:750px;
    background-repeat: no-repeat;
    background-size: cover;
}
.newPassword {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/15/23/44/rider-1827833_960_720.jpg");
     width:100%;
        margin-top: -7rem;

    height:750px;
    background-repeat: no-repeat;
    background-size: cover;
}
background-image{

}

.madeBy{
    align-items: center;
}
.footer{
    display: inline-flex;
}
footer .footerB {
    align-items: center;
}

 .css-header{
    display: inline;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5 rem;
    font-weight: 500;
    line-height: 1.1;
    background-color: #edeef7;
}

.css-body{
    align-content: center;
    
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5 rem;
    font-weight: 500;
    line-height: 1.1;
    // background-color: #ccfbff;
}
.header-profile{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5 rem;
    font-weight: 500;
    line-height: 1.1;
 background-color: #edeef7;}

.body-profile{

    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5 rem;
    font-weight: 500;
    line-height: 1.1;
    // background-color: #ccfbff;

}
.text-body{
     display: inline;
    // text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5 rem;
    line-height: 1.1;
    background-color: rgb(203, 217, 255);
}

.text-header{
display: inline;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5 rem;
    font-weight: 500;
    line-height: 1.1;
    background-color: rgb(157, 181, 255);
}
 .card-img-top{
     width: 500px;
     height: 500px;
     display:block;
  margin-left: auto;
  margin-right: auto;
 }

.img-activity{
     width: 600px;
     height: 600px;
     display:block;
  margin-left: auto;
  margin-right: auto;
}

.actividades{
    width:90%;
}